# AccessControlHandler will be the last middleware handler before the proxy on the sidecar or the last
# one before the business handler to handle the fine-grained authorization in the business domain.
# Enable Access Control Handler
enabled: ${access-control.enabled:true}
# If there is no access rule defined for the endpoint, default access is denied. Users can overwrite
# this default action by setting this config value to false. If true, the handle will force users to
# define the rules for each endpoint when the access control handler is enabled.
defaultDeny: ${access-control.defaultDeny:true}
